/*header*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,400;1,700&family=Mukta:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
body{
  background-image: linear-gradient(to left,skyblue,white);
}
.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.main_head_2
{
  background-image: linear-gradient(to left,skyblue,white);
  padding:-3%;
}
#head_2
{
     padding-top: 2.75%;
     padding-left:15%;
     display:inline-flex;
     align-content: center;
     font-family: cabin;
     justify-content: center;
}
#logo_image{
  align-content:left;

}
.title{
  display: flex;
  text-align:center;
  align-content: center;
  margin-left: 43%;

}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}
#foot{
  background-image: linear-gradient(to bottom,white,#619ae4);
  color:black;
}
.ml-1{
  color: #b4cef0;
}
.wid{
  color: grey;
  font-family:cabin;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  color: black;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background-image: linear-gradient(top,white,#b4cef0);
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
  background-image: linear-gradient(top,white,);
}

body {
  font-family:cabin;
}
.heaven
{
     margin-top: 10%;
     margin-left:120%;
     font-size: 20px;
     opacity: .6;
     padding-bottom: 6%;
     padding-left: 2% ;
     justify-content:center;
     text-wrap:nowrap;
}
.heading{
  margin:auto;
  font-family:cabin;
  font-weight: bolder;
  font-size:x-large;
}
#image{
  display: inline-flex;
}
.form
{
     background-image: linear-gradient(to right,white,skyblue);
     height:50%;
     font-family: cabin;
     padding-top:-2px;
     font-size:larger;
}
.mainNav {
  margin-top: -2%;
  width: 100%;
  height: 81px;
  position:absolute;
  position:fixed;
  z-index: 10;
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  color:grey ;
  background-color: white;
  text-transform: uppercase;
  padding:0%;
}
@media screen and (max-width: 799px) {
  .mainNav {
    padding: 0 20px;
  }
}
.mainNav__logo {
  font-weight:bolder;
  font-size: medium;
  display: inline-flex;
  letter-spacing: 1px;
  align-items: center;
  font-size: 18px;
  height:48px;
}
/*
.mainNav__logo1 {
  margin-right:30%;
  margin-top: 5%;
}*/
.mainNav__links {
  display: flex;

}
@media screen and (max-width: 799px) {
  .mainNav__links {
    display: none;
    background-color: #a6c4f1;
  }
}
.mainNav__link {
  letter-spacing: 1px;
  font-size: 18px;
  margin-left: 20px;
  font-weight:lighter;
  transition: all 0.4s ease, transform 0.2s ease;
  padding: 2px 4px;
  background-color:#a6c4f1;
  color: black;
  font-family:cabin;
  transform: translateY(0px);
  border-radius: 13%;
}
.mainNav__link:hover {
  transform: translateY(-5px);
  border-radius: 13%;
  font-weight: bolder;
  color:blue;
}
.mainNav__icon {
  background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
  width: 32px;
  height: 32px;
  background-size: contain;
  border-radius: 20%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
@media screen and (max-width: 799px) {
  .mainNav__icon {
    display: block;
  }
}

.mainHeading {
  margin-top: 4%;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 40px;
  background-color: #a6c4f1;
}
@media screen and (max-width: 799px) {
  .mainHeading {
    background-image:linear-gradient(to bottom,#b4cef0,white);
    padding: 0 20px;
  }
}
.mainHeading__content {
  background-image:linear-gradient(#a5c4f1,#a5c4f1);
  max-width: 1110px;
  min-height: 600px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -2.5%;
}
@media screen and (max-width: 799px) {
  .mainHeading__content {
    min-height: 500px;
  }
}
.mainHeading__text {
  z-index: 1;
  color: #637498;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  max-width: 620px;
  margin-top: 100px;
  width: 70%;
  backdrop-filter: blur(8px);
  animation: text 0.8s 0.6s ease backwards;
  position: relative;
}
.mainHeading__text:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  animation: line 0.8s 0.6s ease backwards;
}
@keyframes line {
  0% {
    right: 0;
    width: 100%;
    opacity: 0;
  }
}
@media screen and (max-width: 799px) {
  .mainHeading__text {
    padding: 20px;
    margin: 90px 0 40px 0;
  }
}
@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
}
.mainHeading__preTitle {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px;
  color: #637498;
}
.mainHeading__title {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 24px;
  font-size: 40px;
  color: #637498;
}
@media screen and (max-width: 799px) {
  .mainHeading__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
}
.mainHeading__description {
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 799px) {
  .mainHeading__description {
    font-size: 14px;
  }
}
.mainHeading__image {
  right: 0;
  max-width: 600px;
  width: 60%;
  height: 600px;
  transform: translatey(100px);
  position: absolute;
  overflow: hidden;
  animation: image 0.6s 0.2s ease backwards;
}
@media screen and (max-width: 799px) {
  .mainHeading__image {
    height: 480px;
    width: 70%;
    transform: translatey(80px);
    right: -6%;
  }
}
@keyframes image {
  0% {
    opacity: 0;
    transform: translatey(200px);
  }
}
.mainHeading__image:before, .mainHeading__image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  top: 100%;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  opacity: 1;
  left: 0;
}
.mainHeading__image:before {
  animation: imageBefore 1s 0.2s ease backwards;
}
@keyframes imageBefore {
  0% {
    height: 100%;
    top: 0;
  }
}
.mainHeading__image:after {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  height: 100%;
  top: 0;
  opacity: 0.2;
}
.mainHeading__image img {
  width: 100%;
  height: 100%;
}

.cta {
  padding: 16px 32px;
  color: #637498;
  background-color: transparent;
  border: 1px solid rgba(99, 116, 152, 0.4);
  font-family:cabin;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 32px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px rgba(99, 116, 152, 0.2);
  transition: all 0.4s ease;
}
.cta:hover {
  border: 1px solid rgba(99, 116, 152, 0.1);
  box-shadow: inset 0px -80px 0px rgba(99, 116, 152, 0.1);
  transform: translateY(-5px);
}
@media screen and (max-width: 799px) {
  .cta {
    margin-top: 16px;
  }
}
#title
{
  display:-webkit-inline-flex;
  font-family:cabin;
  color: #555;
  margin-top: 2%;
}
.mt-5{
  text-align: center;
  align:left;
  margin: right 70%;
 }

 /*footer */
 .footer
 {
  font-family: cabin;
  font-size:medium;
 }
 body{margin:0%;}
 .footer_area {
     position: relative;
     z-index: 1;
     overflow: hidden;
 -webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
     box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
     padding:60px;
 }
 .footer_area .row {
     margin-left: -25px;
     margin-right: -25px;
 }
 .footer_area .row .col,
 .footer_area .row .col-1,
 .footer_area .row .col-10,
 .footer_area .row .col-11,
 .footer_area .row .col-12,
 .footer_area .row .col-2,
 .footer_area .row .col-3,
 .footer_area .row .col-4,
 .footer_area .row .col-5,
 .footer_area .row .col-6,
 .footer_area .row .col-7,
 .footer_area .row .col-8,
 .footer_area .row .col-9,
 .footer_area .row .col-auto,
 .footer_area .row .col-lg,
 .footer_area .row .col-lg-1,
 .footer_area .row .col-lg-10,
 .footer_area .row .col-lg-11,
 .footer_area .row .col-lg-12,
 .footer_area .row .col-lg-2,
 .footer_area .row .col-lg-3,
 .footer_area .row .col-lg-4,
 .footer_area .row .col-lg-5,
 .footer_area .row .col-lg-6,
 .footer_area .row .col-lg-7,
 .footer_area .row .col-lg-8,
 .footer_area .row .col-lg-9,
 .footer_area .row .col-lg-auto,
 .footer_area .row .col-md,
 .footer_area .row .col-md-1,
 .footer_area .row .col-md-10,
 .footer_area .row .col-md-11,
 .footer_area .row .col-md-12,
 .footer_area .row .col-md-2,
 .footer_area .row .col-md-3,
 .footer_area .row .col-md-4,
 .footer_area .row .col-md-5,
 .footer_area .row .col-md-6,
 .footer_area .row .col-md-7,
 .footer_area .row .col-md-8,
 .footer_area .row .col-md-9,
 .footer_area .row .col-md-auto,
 .footer_area .row .col-sm,
 .footer_area .row .col-sm-1,
 .footer_area .row .col-sm-10,
 .footer_area .row .col-sm-11,
 .footer_area .row .col-sm-12,
 .footer_area .row .col-sm-2,
 .footer_area .row .col-sm-3,
 .footer_area .row .col-sm-4,
 .footer_area .row .col-sm-5,
 .footer_area .row .col-sm-6,
 .footer_area .row .col-sm-7,
 .footer_area .row .col-sm-8,
 .footer_area .row .col-sm-9,
 .footer_area .row .col-sm-auto,
 .footer_area .row .col-xl,
 .footer_area .row .col-xl-1,
 .footer_area .row .col-xl-10,
 .footer_area .row .col-xl-11,
 .footer_area .row .col-xl-12,
 .footer_area .row .col-xl-2,
 .footer_area .row .col-xl-3,
 .footer_area .row .col-xl-4,
 .footer_area .row .col-xl-5,
 .footer_area .row .col-xl-6,
 .footer_area .row .col-xl-7,
 .footer_area .row .col-xl-8,
 .footer_area .row .col-xl-9,
 .footer_area .row .col-xl-auto {
     padding-right: 25px;
     padding-left: 25px;
 }
 
 .single-footer-widget {
     position: relative;
     z-index: 1;
 }
 .single-footer-widget .copywrite-text a {
     color:black;
     font-size: 1rem;
 }
 .single-footer-widget .copywrite-text a:hover,
 .single-footer-widget .copywrite-text a:focus {
     color: #3f43fd;
 }
 li{
   font-size: medium;
   color: black;
 }
 .single-footer-widget .widget-title {
     margin:auto;
     font-size:xx-large;
     padding-top: 10%;
 }
 .single-footer-widget .footer_menu li a {
     color:black;
     margin-top: 2rem;
     margin-bottom:-1 rem;
     display: block;
     font-size:2rem;
 }
 .single-footer-widget .footer_menu li a:hover,
 .single-footer-widget .footer_menu li a:focus {
     color: #3f43fd;
 }
 .single-footer-widget .footer_menu li:last-child a {
     margin-bottom: 0;
 }
 .footer-logo
 {
   font-size: medium;
   font-family: cabin;
 }
 
 .footer_social_area {
     position: relative;
     z-index: 1;
 }
 .footer_social_area a {
     border-radius: 50%;
     height: 40px;
     text-align: center;
     width: 40px;
     display: inline-block;
     background-color: #f5f5ff;
     line-height: 40px;
     -webkit-box-shadow: none;
     box-shadow: none;
     margin-right: 10px;
 }
 .footer_social_area a i {
     line-height: 36px;
 }
 .footer_social_area a:hover,
 .footer_social_area a:focus {
     color: #ffffff;
 }
 
 @-webkit-keyframes bi-cycle {
     0% {
         left: 0;
     }
     100% {
         left: 100%;
     }
 }
 
 @keyframes bi-cycle {
     0% {
         left: 0;
     }
     100% {
         left: 100%;
     }
 }
 ol li, ul li {
     list-style: none;
 }
 
 ol, ul {
     margin: 0;
     padding: 0;
 }
 a{
   color: #accbee ;
 }