@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins',sans-serif;
     font-size: medium;
     cursor: pointer;
     justify-content: center;

}
.form-control
{
     width:80px;
}
.input_head
{
     font-family: cabin;
}
body{
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     font-family: cabin;
     align-items: center;
     background-image: linear-gradient(to right,white,skyblue);
}
form{
     width: 25rem;
     height:30rem;
     display: flex;
     flex-direction:column ;
     background: rgba(255,255,255,0.06);
     box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
     border-radius: 30px;
     border-left: 1px solid rgba(255,255,255,.3);
     border-top:1px solid rgba(255,255,255,.3) ;
}
h1{
     font-size: 50px;
     text-align: center;
     color: white;
     text-shadow: 2px 2px 4px rgba(0,0,0,.2);
     letter-spacing: 3px;
     margin-top: 0%;
     font-family: cabin;
     margin-bottom: 5%;
     text-wrap: nowrap;
     opacity: .7;
}
#email
{
    margin-left: 25%;
    margin-right: 25%;
}
label{
     font-size: 20px;
     color:black;
     margin-left: 10%;
     opacity: .8;
     text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
input{
     width: 80%;
     margin: 5% auto;
     height: 30px;
     margin-bottom: 8%;
     border:none;
     border-radius: 10px;
     outline: none;
     font-weight: bold;
     background:black;
     color: black;
     border-bottom: 3px solid rgba(255,255,255,0.6);
     opacity: .5;
}
form::before{
     content: '';
     position: fixed;
     bottom: 3%;
     right: 28%;
     width: 150px;
     height: 150px;
     background: rgb(128, 177, 241);
     border-radius: 50%;
     z-index: -1;
     opacity: .8;
}
.back{
     margin-top:-35%;
     margin-left: 0%;
}
.btn
{
     background-color:white;
     opacity:.5;
     border-radius:15px;
     color:blue;
     font-family: cabin;
}
.btn:hover{
     background-color:white;
     opacity:.5;
     border-radius:15px;
     color:blue;
     text-decoration: underline;
     font-weight: bold;
     font-family: cabin;
}
form::after{
     content: '';
     position:fixed;
     top: 8%;
     left: 28%;
     width: 200px;
     height: 200px;
     background:rgb(128, 177, 241);
     border-radius: 50%;
     z-index: -1;
     opacity: .5;
}
.mainNav {
     margin-top:-45%;
     width: 100%;
     height: 81px;
     position:fixed;
     z-index: 10;
     display:inline-flex;
     justify-content: space-between;
     align-items: center;
     color:black ;
     background-color: white;
     text-transform: uppercase;
     padding:0%;
   }
   input:hover {
     transform: translateY(-5px);
     border-radius: 10px;
     font-weight: bold;
     font-weight: bolder;
     color:blue;
   }

a{
     font-size: 14px;
     text-align: center;
     color: black;
     opacity: .7;
     font-weight: bold;
}
a:hover{
     color:transparent;
     font-weight: bold;
}