/*header*/
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,400;1,700&family=Mukta:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
#logo_image{
  align-content:left;

}
.title{
  display: flex;
  text-align:center;
  align-content: center;
  margin-left: 43%;

}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}
#foot{
  background-image: linear-gradient(to bottom,white,#619ae4);
  color:black;
}
.ml-1{
  color: #b4cef0;
}
.wid{
  color: grey;
  font-family:cabin;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  color: black;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background-image: linear-gradient(top,white,#b4cef0);
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
  background-image: linear-gradient(top,white,);
}

body {
  font-family:cabin;
}
.heading{
  margin:auto;
  font-family:cabin;
  font-weight: bolder;
  font-size:x-large;
}
#image{
  display: inline-flex;
}

.mainNav {
  margin-top: -2%;
  width: 100%;
  height: 81px;
  position:absolute;
  position:fixed;
  z-index: 10;
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  color:grey ;
  background-color: white;
  text-transform: uppercase;
  padding:0%;
}
@media screen and (max-width: 799px) {
  .mainNav {
    padding: 0 20px;
  }
}
.mainNav__logo {
  font-weight:bolder;
  font-size: medium;
  display: inline-flex;
  letter-spacing: 1px;
  align-items: center;
  font-size: 18px;
  height:48px;
}
/*
.mainNav__logo1 {
  margin-right:30%;
  margin-top: 5%;
}*/
.mainNav__links {
  display: flex;

}
@media screen and (max-width: 799px) {
  .mainNav__links {
    display: none;
    background-color: #a6c4f1;
  }
}
.mainNav__link {
  letter-spacing: 1px;
  font-size: 18px;
  margin-left: 20px;
  font-weight:lighter;
  transition: all 0.4s ease, transform 0.2s ease;
  padding: 2px 4px;
  background-color:#a6c4f1;
  color: black;
  font-family:cabin;
  transform: translateY(0px);
  border-radius: 13%;
}
.mainNav__link:hover {
  transform: translateY(-5px);
  border-radius: 13%;
  font-weight: bolder;
  color:blue;
}
.mainNav__icon {
  background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
  width: 32px;
  height: 32px;
  background-size: contain;
  border-radius: 20%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
@media screen and (max-width: 799px) {
  .mainNav__icon {
    display: block;
  }
}

.mainHeading {
  margin-top: 4%;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 40px;
  background-color: #a6c4f1;
}
@media screen and (max-width: 799px) {
  .mainHeading {
    background-image:linear-gradient(to bottom,#b4cef0,white);
    padding: 0 20px;
  }
}
.mainHeading__content {
  background-image:linear-gradient(#a5c4f1,#a5c4f1);
  max-width: 1110px;
  min-height: 600px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -2.5%;
}
@media screen and (max-width: 799px) {
  .mainHeading__content {
    min-height: 500px;
  }
}
.mainHeading__text {
  z-index: 1;
  color: #637498;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px;
  max-width: 620px;
  margin-top: 100px;
  width: 70%;
  backdrop-filter: blur(8px);
  animation: text 0.8s 0.6s ease backwards;
  position: relative;
}
.mainHeading__text:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  animation: line 0.8s 0.6s ease backwards;
}
@keyframes line {
  0% {
    right: 0;
    width: 100%;
    opacity: 0;
  }
}
@media screen and (max-width: 799px) {
  .mainHeading__text {
    padding: 20px;
    margin: 90px 0 40px 0;
  }
}
@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
}
.mainHeading__preTitle {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px;
  color: #637498;
}
.mainHeading__title {
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 24px;
  font-size: 40px;
  color: #637498;
}
@media screen and (max-width: 799px) {
  .mainHeading__title {
    margin-bottom: 16px;
    font-size: 28px;
  }
}
.mainHeading__description {
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 799px) {
  .mainHeading__description {
    font-size: 14px;
  }
}
.mainHeading__image {
  right: 0;
  max-width: 600px;
  width: 60%;
  height: 600px;
  transform: translatey(100px);
  position: absolute;
  overflow: hidden;
  animation: image 0.6s 0.2s ease backwards;
}
@media screen and (max-width: 799px) {
  .mainHeading__image {
    height: 480px;
    width: 70%;
    transform: translatey(80px);
    right: -6%;
  }
}
@keyframes image {
  0% {
    opacity: 0;
    transform: translatey(200px);
  }
}
.mainHeading__image:before, .mainHeading__image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  top: 100%;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  opacity: 1;
  left: 0;
}
.mainHeading__image:before {
  animation: imageBefore 1s 0.2s ease backwards;
}
@keyframes imageBefore {
  0% {
    height: 100%;
    top: 0;
  }
}
.mainHeading__image:after {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  height: 100%;
  top: 0;
  opacity: 0.2;
}
.mainHeading__image img {
  width: 100%;
  height: 100%;
}

.cta {
  padding: 16px 32px;
  color: #637498;
  background-color: transparent;
  border: 1px solid rgba(99, 116, 152, 0.4);
  font-family:cabin;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 32px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px rgba(99, 116, 152, 0.2);
  transition: all 0.4s ease;
}
.cta:hover {
  border: 1px solid rgba(99, 116, 152, 0.1);
  box-shadow: inset 0px -80px 0px rgba(99, 116, 152, 0.1);
  transform: translateY(-5px);
}
@media screen and (max-width: 799px) {
  .cta {
    margin-top: 16px;
  }
}
#title
{
  display:-webkit-inline-flex;
  font-family:cabin;
  color: #555;
  margin-top: 2%;
}
.mt-5{
  text-align: center;
  align:left;
  margin: right 70%;
 }
/*Carousel*/
#card-head{
  font-family:Cabin;
  font-weight:caption;
}
html *{
  -webkit-font-smoothing: antialiased;
}
.heaven {
  font-weight: 300!important;
  font-size: 45px !important;
  margin-left: 40%;
  font-family:cabin;
  margin-top: -5%;
  position: static;
}
img.img2 {
  margin-top: 5%;
  margin-left: -12%;
  position: static;
}
h3{
  font-weight: 300!important;
  font-size: 25px !important;
}

h4{
  font-size: 35px !important;
  color: white;
  opacity: 20;
  font-weight:bold;

}


footer{
  margin-top:0%;
  color:skyblue;
  background: #fff;
  padding: 25px;
  font-weight: 300;
  
}

.card.card-carousel {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px ;
  color: rgba(0,0,0,.87);
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card.card-carousel img{
  border-radius: 6px;
}



.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel .carousel-indicators {
  bottom: 5px;
}

.carousel .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
  border-radius: 2px;
}

.carousel .carousel-indicators .active{
  margin: 11px 10px; 
} 

.carousel .carousel-indicators li {
  margin: 11px 10px;
}

.carousel .carousel-indicators .active {
  margin-top: 10px;
  transform: scale(1.5);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100% !important;
  min-height:200%;
  background-color: black;
  transition: transform .6s ease;
  backface-visibility: hidden;
  perspective: 1000px;
}

.carousel-item.active {
  display: block;
}

.carousel .carousel-caption {
  padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
  position: relative;
  top: 5px;
}
.d-block w-100{
  min-height: 250%;
}
.carousel .carousel-control-next .material-icons{
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

.carousel .carousel-control-prev .material-icons {
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}
.footer p{
  margin-bottom: 0;
}
footer p a{
  color: skyblue;
  font-weight: 400;
}

footer p a:hover{
  color: #9f26aa;
  text-decoration: none;
}

/*footer*/
